@mainColor: #fffa3f;

@import "pizza/pizza-card";
.right-panel{
  position: fixed!important;
  top: 0;
  right: 0;
  bottom: 0;
  padding-top:35px;
  margin-left: 20px;
  padding-left: 0px!important;
  padding-right: 0px!important;

  min-width: 260px;
  height: 100%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.2)
  -3px 3px 10px;

  z-index: 1000;
  .right_col_title{
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
  }

}
.footer	{

  position:	fixed;
  bottom:	0px;
  left:	0px;
  height:	50px;
  background-color: #655dff;

  width:	100%;

}
.top-panel{
  display: inline-block; float: left;
  z-index: 100;
  position:	fixed;
  top:	0px;
  left:	0px;
  height:	100px;
  background-color: #655dff;
  width:	100%;
}
.container-fluid{
  margin-top: 105px;
}
.top_info{
  display: inline-block;
}

#pizza{
  padding-left: 100px;
}
.header{

}
#all_pizzas{
  text-align: center;
}